.page-container {
  width: 1425.2px;
}

.pen-container {
  background-color: #525351;
  margin: 0 auto;
  color: white;
}

.row {
  display: flex;
}

.column-one {
  flex-basis: calc(91.5%/2);
  height: 450px;
}

.column-two {
  flex-basis: calc(40%/2);
}

.canvas-h1 {
  font-family: "Tiempos Headline", sans-serif;
  font-size: 36px;
  margin-top: 120px;
  margin-bottom: 41px;
}

img {
  width: 9rem;
  margin: 0 90px;
}

.h4-right-side {
  margin: 0 90px;
  font-size: 21px;
  text-transform: uppercase;
  margin-top: 120px;
}

.p-left-side {
  line-height: 25px;
}

.p-right-side {
  font-size: 20px;
}

p {
  margin: 0 90px;
  font-family: Avenir, sans-serif;
  line-height: 42px;
}

.final-container {
  margin-top: 40px;
  padding-bottom: 36px;
}

.final-text {
  color: #767676;
  font-size: 20px;
  display: inline;
  margin-right: 0;
}

#contact-us {
  margin-left: 50px;
}

.ready-header {
  margin: 0 90px;
  font-family: "Tiempos Headline", sans-serif;
  font-size: 29px;
  margin-bottom: 5px;
  margin-top: 20px;
}

button {
  border-radius: 0.25rem;
  font-size: 20px;
  font-family: Avenir, sans-serif;
  background-color: #294363;
  border-color: #294363;
  color: white;
  padding: 13px 45px;
  border-style: none;
}

.get-started-button {
  width: 61.9%;
  padding: 10px;
  text-align: right;
}

.get-started-button button {
  padding: 16px 48px;
}

.ready-container > div {
  margin-right: 10px;
}

.ready-container {
  display: flex;
  margin-bottom: 33px;
  padding-top: 20px;
  color: #767676;
  height: 130px;
  align-items: center;
  border-top-style: solid;
  border-top-color: lightgray;
}

.clinicians-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  padding-bottom: 106px;
}

.clinicians-container {
  padding-left: 10px;
  text-align: center;
  color: #767676;
}

.cascade-ward-text-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 50px;
}

.cascade-text-container {
  margin-left: 18px;
}

.ward-text-container {
  margin-right: 80px;
}

.cascade-ward-text-container p {
  font-size: 20px;
  color: #767676;
  line-height: 63px;
  text-align: center;
}

.clinicians-container h1 {
  font-family: "Tiempos Headline", sans-serif;
  color: #767676;
  font-size: 29px;
  margin-top: 60px;
}

.clinicians-container p {
  line-height: 27px;
  font-size: 15.5px;
  color: #767676;
}

.clinicians-header {
  margin-bottom: 13px;
}

.hero-container {
  background-image: url("images/hero.jpg");
  background-size: 1289px;
  background-repeat: no-repeat;
  background-clip: content-box;
  width: 93%;
  height: 91%;
  padding: 40px 0;
  padding-left: 42px;
  filter: grayscale(10%) brightness(85%) saturate(90%);
  position: relative;
}

.page-header-text-container p {
  margin: 12px 34px;
  margin-top: 27px;
  color: #aeaeae;
  font-size: 17px;
}

#hero-text {
  position: absolute;
  margin-bottom: 145px;
  left: 183px;
}

#hero-text h1 {
  font-size: 38px;
  font-family: "Tiempos Headline", sans-serif;
  font-weight: 500;
}

#hero-text p {
  line-height: 29px;
  margin-left: 0;
}

.hero-header-text-content {
  color: #fafafa;
}

.hero-section-container {
  height: 791px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 39px;
  border-top-style: solid;
  border-top-color: lightgray;
}

#get-started-button {
  text-align: left;
  position: absolute;
  padding-left: 0;
  padding-top: 39px;
}

.page-header-container {
  display: flex;
  margin: 0 auto;
  padding-bottom: 15px;
}

.page-header-text-container {
  display: flex;
  margin-left: 2px;
  text-align: right;
  width: 100%;
  height: 90%;
}

.blue-canvas-logo-container {
  margin-top: 33px;
  margin-right: 323px;
  height: 90%;
}

.header-button button {
  margin: 10px;
  padding: 12px 16px;
  font-family: Avenir, sans-serif;
  font-size: 18px;
  margin-top: 23px;
}
